*{  
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*menu start*/
.menu-wrap{
    position: fixed;
    top: 0;
    right:10%;
    z-index: 1;
}
.menu-wrap .toggler{
    position: absolute;
    top: 0;
    right:10%;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}
.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    right:10%;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    /* background: rgb(209, 169, 132); */
    /* opacity: 0.5; */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* hamburger line*/
.menu-wrap .hamburger > div{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    -webkit-transition:all 0.4s ease;
    -moz-transition:all 0.4s ease;
    -ms-transition:all 0.4s ease;
}
/* top and bottom line*/
.menu-wrap .hamburger > div::before, 
.menu-wrap .hamburger > div::after{
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
/* move lines down*/
.menu-wrap .hamburger > div::after{
    top: 10px;
}

/* Toggler animate*/
.menu-wrap .toggler:checked + .hamburger> div{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
}

/* turn lines into x*/
.menu-wrap .toggler:checked + .hamburger> div:before,
.menu-wrap .toggler:checked + .hamburger> div:after{
    top: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

/* rotate on hover when checked*/
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}
/* show menu */
.menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    
    
}
.menu-wrap .toggler:checked ~ .menu > div > div{
    opacity: 1;
    transition: opacity 0.4s ease;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
}


.menu-wrap .menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: #ba7453;
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    z-index: -1;
}

.menu-wrap .menu > div > div{
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a{
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li > a:hover{
    color: black;
}
/* menu end*/

.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: linear-gradient(to left, #ba7453, #d1a984);
    z-index: -1;
}
nav{
    display: grid;
    grid-template-columns:10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
}
#logo{
    grid-column:2/3;
    font-size: 2em;
    color: rgba(255,255,255,.1);
    background-repeat: repeat-x;
    background-image: url(../img/water.png);
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    
}
.logo{
    text-decoration: none;
    color: white;
    position: absolute;
    left: 10vw;
    top: 1.5vh;
    
}
.hamburger{
    justify-self:end;
}

section{
    display:flex;
    height:80vh;
    justify-content: center;
    align-items: center;
}
.hero{
    width: 100%;
    height: 100%;
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.headline{
    position: absolute;
    top: 70%;
    left: 15%;
    font-size: 3vw;
    transform: translate(-20%,-70%);
    color: white;
    z-index: 0;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;

}

.hero::after{
    content:"";
    background: black;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.2;
}
@keyframes animate{
    0%{
        background-position: left 0px top 20px;
    }
    40%{
        background-position: left 600px top 10px;
    }
    80%{
        background-position: left 1200px top -20px;
    }
    100%{
        background-position: left 1800px top 30px;
    }
}

@media screen and (max-width:495px){
    .menu-wrap .hamburger{
        position: fixed;
    }
    .logo{
        top: 4vh;
    }
    #logo{
        font-size: 1.5em;
       
    }
    .headline{
        color: rgb(0, 0, 0);
        font-size: 4vw;
        /* left: 10%; */
        top: 80%;
    }
}
@media screen and (max-width:371px){
    .logo{
        top: 3vh;
    }
    #logo{
        font-size: 8vw;
    }
}