/* Header Start*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  font-family: 'Nunito', sans-serif;
  /* border: 1px solid red; */

}
.top-menu-nav a{
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  color:white;
}


body{
	background: linear-gradient(to left, #ba7453, #d1a984);
}
.top{
  top: 0;
  margin-top: 2em;
}
.top-menu{
  
  background: linear-gradient(to left, #ba7453, #d1a984);
  width: 100%;
  height: 8vh;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.top-menu h2{
  font-size: 40px;
}
.top-menu-left a{
  text-decoration: none;
  color: white;
  transition: 0.5s ease-in-out;
}
.top-menu-left a:hover{
  color: black
}
.top-menu-left{

  margin-left: 3em;
}
.top-menu-nav{

  margin-right: 2em;   
}
.top-menu-nav a{
  position: relative;
  margin: 0 1em;
  color: white;
  transition: 0.5s ease-in-out;
  text-decoration: none;
}
.top-menu-nav a:hover{
    color:black;
}
/* Header End*/


.examplecode{
  padding:2em;
  background-color: rgba(50, 50, 50, 0.1);
}
.image{
  display: flex;

	width: 80%;
	transition: 1s ease-in-out;
	transform-origin: center top;
	-webkit-transform-origin: center top;
	
}
.imagewithlinkrender{
  border-radius: 5px;
}
.image:hover{
  filter: brightness(40%);
	
}

.leftnavigation{

  padding-right: 3em;
  padding-left: 3em;
  flex:1;
  order:1;
}

.lefttopnavigation{
  flex:1;
  order:1;
}
.leftbottomnavigation{
  flex:4;
  order:2;
}

.render{
  padding-left: 3em;
  position: relative;
}

.interactive_elementse > h2, .text_elements>h2 ,.combined_elementse>h2 ,.citations>h2 ,.brandingideas>h2{
  padding-left:  1em;
  padding-right: 1em;
  text-align: center;
  font-weight:  900;
  font-size: 20px;
}

.inside a{
  padding: 0.3em;

  font-style: italic;
  text-decoration: none;

}

.example_code{
  padding-top: 2em;
}



.right-title > h2 {

 font-size: 25px;
}
.ex4{
  text-align: center;

  font-size: 15px;
}
.ex4 a{
  position: relative;
  text-decoration: none;
  color: white;
}

.ex4 a:after{
  content: '';
  display: block;
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -1em;
  background: red;
  transition:all 0.3s ease-in-out;
}

.ex4 a:hover:after{
  width: 100%;
}

.homepage{
  display: flex;
  flex-direction: column;
}

/*.navigationbutton{
  background-color: black;
  display: flex;
  flex-direction: row;
  }*/

  .textinput:focus{
    outline-color: red;
    background-color: rgba(0,0,0,0.1);
  }

  .homepage{
    padding-left: 1em;
  }

/* .element{
  margin-top: 6em;
  } */
  .right-title{
    padding-top: 2em;
    padding: 1em 1em 1em 0em;

    padding-top: 4em;
    padding-bottom: 4em;
    width:90%;
  }
  .intexlinkrender, .navigationlinkrender,.sumitbuttonsrender,.textinputrender,.radiobuttonrender,.imagewithlinkrender
  ,.headingrender, .paragraphsrender, .numberedlistsrender
  ,.mainnavigationrender,.productrender,.paymentrender,.checkoutrender
  ,.citationrender,.brandrender,.crender,.adrender{

    padding: 2em;
    /* display: flex; */
    display:inline-table;

    list-style: inside;
    border: 1px dashed transparent;
    background: linear-gradient(to left, #ba7453, #d1a984) padding-box,
    repeating-linear-gradient(-45deg,#6b6b6b 0, #e7dcd6 0.35em,white 0,white 0.7em);
  }
  .sumitbox{
    display: flex;
  }

  .mainnavigationbutton{
    display: flex;
    background-color: linear-gradient(to left, #ba7453, #d1a984);


  }


  .productrender>h4{
    text-decoration: none;

  }

  .mainnavigationbutton>h4{
    border-radius: 25px;
    padding: 1em;
  }
  .maninnavigationbutton h4 a{
    text-decoration: none;
  }

  .interactive_elementse a, .text_elements a,.combined_elementse a,.citations a,.brandingideas a{
    text-decoration: none;
    /* color: #6b6b6b; */

  }



  .navigationlinkrender h4{
    /* padding: 1em; */
    /* border-radius: 25px; */
  }
  .navigationlinkrender a{
    text-decoration: none;
    /* padding:1em; */
    color: white;
    /* background-color:white; */
    /* border-radius: 50px; */
    /* border: 1px solid #fa5c17; */

    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -ms-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
  }
  .navigationlinkrender a:hover{
    color: black;
  }



  section .interactive_elementse>h4{
    border-radius: 25px;
    padding:1em;
  }
  section .text_elements>h4{
    border-radius: 25px;
    padding: 1em;
  }
  section .combined_elementse>h4{
    border-radius: 25px;
    padding: 1em;
  }
  section .citations>h4{
    border-radius: 25px;
    padding: 1em;
  }
  section .brandingideas>h4{
    border-radius: 25px;
    padding: 1em;
  }



  .text_elements{

    margin-top: 2em;
  }
  .combined_elementse{
    margin-top: 2em;
  }
  .citations{
    margin-top: 2em;
  }
  .brandingideas{
    margin-top: 2em;
  }

  .element{
    display: flex;
    flex-direction: row;
  }

  .render{
    flex:5;
    order:2;
  }


  .mainnavigationbutton{
    display: flex;
    flex-direction: row;
  }


  .interactive_elementse{
    display: flex;
    flex-direction: column;
    border-bottom: 0.1em solid white;
    padding-bottom: 1em;

  }
  .text_elements{
    display: flex;
    flex-direction: column;
    border-bottom: 0.1em solid white;
    padding-bottom: 1em;
  }
  .combined_elementse{
    display: flex;
    flex-direction: column;
    border-bottom: 0.1em solid white;
    padding-bottom: 1em;
  }

  .citations{
    display: flex;
    flex-direction: column;
    border-bottom: 0.1em solid white;
    padding-bottom: 1em;
  }

  .render{
    display: flex;
    flex-direction: column;

  }

  .productrender{
    width: 60%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .img1{
    flex:1;
    order:1;
  }
  .img2{
    flex:1;
    order:2;
  }
  .img3{
    flex:1;
    order:3;
  }



  .linktext{
    color: white;
  }
  .sumit{
    text-decoration: none;
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 0.8em 1em;
  }
  .sumitbox{
    padding-right: 1em;
  }
  .reset1{
    padding-left: 1em;
  }
  .reset{
    text-decoration: none;
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 0.8em 1em;
  }
  .resetbutton{
    padding:1em;
  }
  .sumitbutton{

    padding:1em;
  }
.sumit:focus{
  outline: none;

}
  .reset:focus {
      outline: none;

  }

  .textinput{
    outline-style: none;
    outline-width: 0px;
    border: 1px solid red;
    text-shadow: none;
    -webkit-appearance: none;
    -webkit-user-select: text;
    outline-color: transparent;
    box-shadow: none;
    padding: 1em 6em 1em 1em;
    transition: .5s ease-in-out;
    margin: 10px;
  }


  .yes, .no{
    padding-left: 1em;
  }

  .headingrender>h3{

    font-size: 35px;
  }
  /* .headingrender>h4{

  }
  .headingrender>h5{

  }
  
  .paragraphsrender>h4{

  } */
  li, ol{
    line-height: 1.5em;
    padding-right: 1em;

  }


  .paymentrender label{

    font-size: 20px;
  }
  /* .paymentrender h4{

  } */
  /* .checkoutrender>h3{
  }


  .crender h3{

  }

  .mukta{

  }
  .Rubik {

  }

  .Mansalva{

  } */
  .color{
 display: flex;
}
.font-color{
  background-color: red;
 width: 100px;
 height: 100px;
}
.background-color{
  background: linear-gradient(to left, #ba7453, #d1a984);
 width: 100px;
 height: 100px;
}

.nav-title{
 background-color: #303030;
 width: 100px;
 height: 100px;
}
.button-color{
 background-color: white;
 width: 100px;
 height: 100px;
}
.font-color-2{
  background-color: seashell;
  width: 100px;
  height: 100px;
}
.heyhey{
  display: flex;
  flex-direction: row;
}


@media screen and (max-width: 784px){
  .leftnavigation{
    position: absolute;
    left: -20em;
  }
}
.tabli-choose-basic{
    text-align: center;
    margin: 1em 0;
    border: 1px solid red;
    padding: .1em 3em .1em 3em;
    transition: 1s ease-in-out;
}
.tabli-choose-basic a{
    text-decoration: none;
    color: black;


}

.tabli-choose-basic a:hover{
    color:white;
}
.tabli-choose-basic:hover{
    color:white;
    background-color: red;
}
.tabli-choose-basic a:active{
    color:white;
    background-color: red;
}
.tabli-choose-basic:active{
    color:white;
    background-color: red;
}

.main-movie{
	display: flex;
	justify-content: space-between;

	margin-left: .5em;
	margin-top: .5em;
}
.main-movie-joker img{
	border-radius: 5px;
	width: 80%;
	transition: 1s ease-in-out;
	transform-origin: center top;
	-webkit-transform-origin: center top;
	transform: scale(1,1);

}
.main-movie-joker img:hover{
	filter: brightness(40%);
	transform: scale(1.1, 1.1);
}



.main-movie-joker{
	position: relative;
}
.main-movie-Godzilla{
	position: relative;
}
.main-movie-Alita{
	position: relative;
}
.main-movie-avengers{
	position: relative;
}
.main-movie-hollywood{
	position: relative;
}
.main-movie-Fast_Furious{
	position: relative;
}
.main-movie-Godzilla img{
	border-radius: 5px;
	width: 80%;
	transition: 1s ease-in-out;
	transform-origin: center top;
	-webkit-transform-origin: center top;
	transform: scale(1,1);

}
.main-movie-Godzilla img:hover{
	filter: brightness(40%);
	transform: scale(1.1, 1.1);
}


.main-movie-Alita img{
	border-radius: 5px;
	width: 80%;
	transition: 1s ease-in-out;
	transform-origin: center top;
	-webkit-transform-origin: center top;
	transform: scale(1,1);

}
.main-movie-Alita img:hover{
	filter: brightness(40%);
	transform: scale(1.1, 1.1);
}


.main-movie-avengers img{
	border-radius: 5px;
	width: 80%;
	transition: 1s ease-in-out;
	transform-origin: center top;
	-webkit-transform-origin: center top;
	transform: scale(1,1);

}
.main-movie-avengers img:hover{
	filter: brightness(40%);
	transform: scale(1.1, 1.1);
}


.main-movie-hollywood img{
	border-radius: 5px;
	width: 80%;
	transition: 1s ease-in-out;
	transform-origin: center top;
	-webkit-transform-origin: center top;
	transform: scale(1,1);

}
.main-movie-hollywood img:hover{
	filter: brightness(40%);
	transform: scale(1.1, 1.1);
}


.main-movie-Fast_Furious img{
	border-radius: 5px;
	width: 80%;
	transition: 1s ease-in-out;
	transform-origin: center top;
	-webkit-transform-origin: center top;
	transform: scale(1,1);

}
.main-movie-Fast_Furious img:hover{
	filter: brightness(40%);
	transform: scale(1.1, 1.1);
}

.table-payment-detail input{
    outline-color: invert ;
    outline-style: none ;
    outline-width: 0px ;
    border: 1px solid red ;
    /* border-style: none ; */
    text-shadow: none ;
    -webkit-appearance: none ;
    -webkit-user-select: text ;
    outline-color: transparent ;
    box-shadow: none;
    padding: 1em 6em 1em 1em;
    transition: .5s ease-in-out;
    margin: 10px;
}
.table-payment-detail input:hover{
    background-color: rgb(214, 214, 214);
}

@media screen and (max-width:773px){
	.main .main-content{
		margin: 2em 7.5em;
		
	}
}

@media screen and (max-width: 539px){
  .top-menu h2{
    font-size: 5vw;
  }
  .top-menu-nav a{
    font-size: 3vw;
  }
}

@media screen and (max-width: 418px){
  .intexlinkrender, .navigationlinkrender,.sumitbuttonsrender,.textinputrender,.radiobuttonrender,
  .headingrender, .paragraphsrender, .numberedlistsrender
  ,.mainnavigationrender,.productrender,.paymentrender,.checkoutrender
  ,.citationrender,.brandrender,.crender,.adrender{
    padding: 1vw;
  }
  .imagewithlinkrender img{
    padding: 1em;
    width: 65vw;
    height: auto;
  }
}