/* Header Start*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  font-family: 'Nunito', sans-serif;
  /* border: 1px solid red; */

}
.top-menu-nav a{
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  color:black;
}


body{
	background: linear-gradient(to left, #ba7453, #d1a984);
}
.top{
  position: absolute;
  top: 0;
  

}
.top-menu{
  padding-top: 2em;
  position: fixed;
  background: linear-gradient(to left, #ba7453, #d1a984);
  width: 100%;
  height: auto;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.top-menu h2{
  font-size: 40px;
}
.top-menu-left a{
    text-decoration: none;
    color: white;
    transition: 0.5s ease-in-out;
}
.top-menu-left a:hover{
    color: black
}
.top-menu-left{

  margin-left: 3em;
}
.top-menu-nav{

  margin-right: 2em;   
}
.top-menu-nav a{
  position: relative;
  margin: 0 1em;
  color: white;
}
.top-menu-nav a::after{
  content: '';
  display: block;
width: 0;
height: 3px;
position: absolute;
left: 0;
/* bottom: -18px; */
background:red;
transition:all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
}
.top-menu-nav a:hover::after{
  width: 100%;
}
/* Header End*/

/* main start */
.menu{
    display: flex;
    margin-top: 10em;
    justify-content: space-evenly;
    align-items: center;
}
.menu-works2 a{
  text-decoration: none;
  color: white;
}
.menu-works2 h2{ 
  text-align: center;
  transition: 1s ease-in-out;
}
.menu-works2 h2:hover{
  color: black;
}
.menu-works2 img{
  width: 45vw;
  margin: 0 1em;
  transition: 1s ease-in-out !important;
}
.menu-works2 img:hover{
  opacity: 0.6 !important;
}

/* main end */

@media screen and (max-width:543px){
    .top-menu h2{
        font-size: 30px;
      }
      .menu{
          flex-wrap: wrap;
          margin-top: 8em;
      }
      .menu-works2{
        margin-top: 1em;
      }
      .menu-works2 img{
        width: 80vw;
      }
      .menu-works2 h2{
        font-size: 5vw;
      }
      .top-menu-nav a{
          margin: 0 7px;
          font-size: 2vw;
      }
}

@media screen and (max-width:473px){
    .top-menu h2{
        font-size: 20px;
      }

}