/* Header Start*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  font-family: 'Nunito', sans-serif;
  /* border: 1px solid red; */

}
.top-menu-nav a{
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  color:black;
}


body{
	background-color: white;
}
.top{
  position: absolute;
  top: 0;

}
.top-menu{
  padding-top: 2em;
  position: fixed;
  background-color: white;
  width: 100%;
  height: auto;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.top-menu h2{
  font-size: 40px;
}
.top-menu-left a{
    text-decoration: none;
    color: silver;
    transition: 0.5s ease-in-out;
}
.top-menu-left a:hover{
    color: black
}
.top-menu-left{

  margin-left: 3em;
}
.top-menu-nav{

  margin-right: 2em;   
}
.top-menu-nav a{
  position: relative;
  margin: 0 1em;
  color: silver;
}
.top-menu-nav a::after{
  content: '';
  display: block;
width: 0;
height: 3px;
position: absolute;
left: 0;
/* bottom: -18px; */
background:red;
transition:all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
}
.top-menu-nav a:hover::after{
  width: 100%;
}
/* Header End*/
.menu{
    display: flex;
    flex-direction: column;
}
.menu h3{
    margin:1em 0;
}

.main-news-img{
    margin-top: 8em;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* .menu-works1 li{
    height: 100px;
    width: 100px;
	position: relative;
	overflow: hidden;
	margin: 0 1px;
}
.menu-works1 li:hover > .Main-news-title{
    transform: translateY(-100%);
}
.Main-news-title{
    color: white;
    background: #111;
    height: 100px;
    opacity: 0.6;
    transition: transform 0.5s ease;
    width: 100px;
} */

.menu-works1 h2{
    margin-top: 8em;
    display: flex;
    justify-content: center;

}
.main-news-img img{
    width: 50%;

}
.menu-works2{
    /* margin-top: 8em; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.menu-works2 img{
    width: 50%;

}


.Resume a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    margin-right: 17em;
    margin-bottom: 3em;
}
.menu-works1-analysis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 22em;
}
.menu-works1-analysis ul li{
    list-style: inside;
}
.menu-works1-analysis img{
    width: 100%;
    height: 50vh;
    margin: 1em 0;
}
@media screen and (max-width:1300px){
    .menu-works1-analysis{
        padding:1em 19.5em;
    }
}
@media screen and (max-width:1200px){
    .menu-works1-analysis{
        padding:1em 19em;
    }

    .menu-img{
        margin-top: 6em;
    }
}
@media screen and (max-width:1045px){
    .menu-works1-analysis{
        padding:1em 16.5em;
    }


}
@media screen and (max-width:845px){
    .menu-works1-analysis{
        padding:1em 13em;
    }

}
@media screen and (max-width:741px){
    .menu-works1-analysis{
        padding:1em 9em;
    }
    .main-news-img img{
        width: 60%; 
    }
    .menu-works2 img{
        width: 60%;
    }
    .menu-works1-analysis img{
        width: 100%;
        height: 30vh;
    }

}
@media screen and (max-width:662px){
    .menu-works1-analysis{
        padding:1em 6em;
    }
    .main-news-img img{
        width: 70%; 
    }
    .menu-works2 img{
        width: 70%;
    }
    .menu-works1-analysis img{
        width: 100%;
        height: 25vh;
    }

}
@media screen and (max-width:571px){

    .menu-works1-analysis{
        padding:1em 3.5em;
    }
    .main-news-img img{
        width: 80%; 
    }
    .menu-works2 img{
        width: 80%;
    }
    .menu-works1-analysis img{
        width: 100%;
        height: 20vh;
    }
    .top-menu-left a h2{
        font-size: 32px;
    }
}
@media screen and (max-width:482px){

    .top-menu-left a h2{
        font-size:23px;
    }
}